CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
arduino/esp8266/config.h
backend/src/main/resources/application.properties
backend/.idea
backend/target